 body{
   margin: 0;
   text-align: center;
   font-family: 'Merriweather', serif;
 }
   
 h1{
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
 }
 h2{
    font-family: 'Montserrat', sans-serif;
 }
 h3{
    font-family: 'Montserrat', sans-serif;
 }
.top-container{
    position: relative;
    padding-top: 100px;
    background-color:  #AEDBCE;
}

.middle-container{
    
}
.bottom-container{
    
}
.bottom-cloud{
    position: absolute;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50%;
}